--data_dir=/scratch/tk2801/t5chem_dev_song/t5chem_dev/reproduce
--task_type=pretrain
--vocab=/scratch/tk2801/t5chem_dev_song/t5chem_dev/t5chem/simple.pt
--log_step=5000
--vocab_name=reproduce
--tokenizer=pl
--num_epoch=1
--comment=training T5Chem for reproduction with new tokenizer utiziling the mod tag 
--output_dir=./out/exp_t5_tag/reproduce_wtag
--batch_size=32
